{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileSettingsController!{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
        <link rel="stylesheet" href="{{ asset('css/avatar.css') }}">
    {% endblock %}
{% block body %}
    {{ parent() }}
    {% include 'components/avatar/avatar.html.twig' %}
    <div class="configs-wrapper container">
        {{ form(login_data_form,{'attr':{'class':'form-signin form-credentials-change'}}) }}
        {{ form(avatar_form,{'attr':{'class':'form-signin form-avatar-change'}}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/avatar.js') }}"></script>
{% endblock %}
