{% extends 'base.html.twig' %}

{% block title %}Hello UserDashboardController!{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
        <link rel="stylesheet" href="{{ asset('css/avatar.css') }}">
    {% endblock %}

{% block body %}
    {{ parent() }}
    {% include 'components/avatar/avatar.html.twig' %}

    <div class="post-form-wrapper container">
        {{ form(post_form,{'attr':{'class':'form-signin form-add-post'}}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/avatar.js') }}"></script>
{% endblock %}